* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-weight: bold;
        column-gap: 5px;
        font-size: 28px;
        color: rgb(40, 40, 40);
        img {
            width: 56px;
            height: 56px;
        }
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
    height: 60px;


    .nav-menu {
        display: flex;
        list-style: none;
        column-gap: 24px;
        z-index: 9;
        .menu-item {
            
            a {
                text-decoration: none;
                font-weight: bold;
                color: rgb(40, 40, 40);
            }
        }
    }

    .menu-icon {
        display: none;
    }
}

@media (max-width:768px) {
    .nav {
        justify-content: space-between;
        padding: 0 40px;
        .nav-menu {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 30px;
            height: 300px;
            background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
            width: 100%;
            position: absolute;
            top: 60px;
            left: 0;
            .menu-item {
                
                a {
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    
        .menu-icon {
            display: block;
        }
    }
}
@media (max-width:768px) {
    .hidden {
        display: none;
        z-index: 9;
    }
}